/* GENERAL STYLING */

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, li, a {
  color: rgba(0,0,0,0.7);
  line-height: 1.4;
}

/* NAVBAR STYLES */

.navbar-default .navbar-nav a {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  color: #399bd1;
  background-color: inherit;
}

.navbar-default .navbar-nav > .active > a:hover {

}

.navbar .navbar-brand {
  display: none;
}

/* NAVBAR MEDIA QUERIES */

@media (min-width: 768px) {

  .navbar .navbar-brand {
    display: inline-block;
  }

}

/* JUMBOTRON STYLES */

.jumbotron-bike,
.jumbotron-beer,
.jumbotron-flowers,
.jumbotron-duffel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.jumbotron-bike {
    background-image: url(../images/jumbotron-bike.jpg);
    }

.jumbotron-beer {
    background-image: url(../images/jumbotron-beer.jpg);
    }

.jumbotron-flowers {
    background-image: url(../images/jumbotron-flowers.jpg);
    }

.jumbotron-duffel {
    background-image: url(../images/jumbotron-duffel.jpg);
    }

.jumbotron-bike h1,
.jumbotron-beer h1,
.jumbotron-flowers h1,
.jumbotron-duffel h1    {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  text-align: center; /* TEMP FOR BOX MODEL */
}

.jumbotron-bike h1,
.jumbotron-beer h1,
.jumbotron-flowers h1,
.jumbotron-duffel h1,
.jumbotron .container p {
  text-align: center;
}

.jumbotron .container p {
  margin-bottom: 2.8rem;
}

.jumbotron-bike p,
.jumbotron-beer p,
.jumbotron-flowers p,
.jumbotron-duffel p {
  color: white;
}

.jumbotron .container {
  width: 51.3rem;
  padding: 11.85rem 0;
  height: 50rem;
}

/* JUMBOTRON MEDIA QUERIES */

@media only screen and (max-width: 749px) {

  .jumbotron-bike h1,
  .jumbotron-beer h1,
  .jumbotron-flowers h1,
  .jumbotron-duffel h1 {
    font-size: 5.7rem;
  }

  .jumbotron .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

/* BUTTON STYLES */

.btn-primary {
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  width: 11.4rem;
  padding: 1.3rem 0;
  margin: 0 auto;
  display: block;
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

/* FEATURED PROJECT AND PROJECTS SHARED STYLES */

.featured-project img,
.projects img {
  display: block;
  max-width: 100%;
  height: auto;
}

.featured-project .container,
.projects .container {
  width: 100%;
}

.featured-project h1, .projects h1 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
  margin-bottom: 20px;
}

.featured-project h2, .projects h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.featured-project .container, .projects .container {
  padding-left: 0;
  padding-right: 0;
}

/* FEATURED PROJECT STYLES */

.container.product h2 {
  color: #399bd1;
}

/* FEATURED PROJECT MEDIA QUERY STYLES */

@media only screen and (min-width: 992px) {

  .featured-project h2 {
    margin-top: 0;
  }

}

/* PROJECTS STYLES */

.projects {
  padding-bottom: 5.85rem;
}

.projects .image-container {
  overflow: hidden;
}

.projects .image-container img {
  opacity: 0.7;
  transition: opacity 0.5;
}

.projects .image-container img:hover {
  opacity: 1;
  transform: scaleY(1.5);
}

/* FOOTER TROUBLE STYLES */

.trouble {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  background-color: #f3f3f3;
  text-align: center;
}

.trouble strong {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.trouble p {
  padding: 1.4rem 5rem 2.8rem 5rem;
}

/* FOOTER TROUBLE MEDIA QUERY STYLES */

@media only screen and (max-width: 749px) {

  .trouble p {
    padding: 1.4rem 0 2.8rem 0;
  }

}
